<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
	package="cn.kviewui.uniModules.kuxMlkitScancode">

	<uses-feature android:name="android.hardware.camera" android:required="false" />

	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />
	<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

	<application
			android:allowBackup="true"
			android:theme="@style/Theme.AppCompat.NoActionBar"
			android:supportsRtl="true"
	>
			<activity android:name="cn.kviewui.scancode.BarcodeScanningActivity"
				android:launchMode="singleTask"
				android:exported="true">
				<intent-filter>
					<action android:name="cn.kviewui.scancode.BarcodeScanningActivity" />
					<category android:name="android.intent.category.DEFAULT" />
				</intent-filter>
			</activity>
	    </application>
</manifest>